body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #636262;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 25px;
  background-color: #444;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f8f8;
  border: none;
  border-radius: 3px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5252;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e53e3e;
}

.button-container {
  text-align: right;
}

#selected-items {
  background-color: #491717;
  padding: 20px;
  border-radius: 20px;
}

#item-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#item-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #4e4e4e;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.edit-item,
.delete-item {
  margin-left: 10px;
  font-size: 18px;
  color: #999;
  cursor: pointer;
  transition: color 0.3s ease;
}

.edit-item:hover,
.delete-item:hover {
  color: #666;
}
